/* Hamburger Menu Container */
.hamburger-menu-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    -webkit-app-region: no-drag;
    display: inline-block;
}

/* Hamburger Button */
.hamburger-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 36px;
    padding: 0;
    background: transparent;
    border: transparent;
    cursor: pointer;
    transition: all 0.2s ease;
    color: var(--theme-text-2-default);
}

.hamburger-button:hover {
    background: var(--theme-bg-4-hover);
    border-color: var(--theme-border-2-default);
}

.hamburger-button:active {
    background: var(--theme-bg-3-default);
}

.hamburger-button svg {
    display: block;
    fill: var(--theme-text-1-default) !important;
}

/* Dropdown Menu */
.dropdown-menu {
    position: absolute;
    top: calc(100% + 2px);
    min-width: 180px;
    background: var(--theme-bg-2-default);
    border: 1px solid var(--theme-border-1-default);
    z-index: 10;

    left: 12px;
    box-shadow: var(--shadow);

}

/* Menu Item Label */
.menu-item-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 6px 10px;
    font-size: 13px;
    color: var(--theme-text-2-default);
    cursor: pointer;
    transition: background-color 0.15s ease;
}

.menu-item-label:hover {
    background: var(--theme-bg-4-hover);
}

.menu-item-label span {
    flex-shrink: 0;
    font-weight: 500;
    letter-spacing: 0.2px;
}


/* Menu Select Elements */
.menu-item-label select {
    padding: 4px 8px;
    font-size: 12px;
    font-family: inherit;
    /* background: var(--theme-bg-3-default); */
    background: transparent;
    color: var(--theme-text-1-default);
    /* border: 1px solid var(--theme-border-1-default); */
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    outline: none;
    min-width: 80px;

    text-align: right;
}

.menu-item-label select option {
    background: var(--theme-bg-2-default);
    color: var(--theme-text-1-default);
}


/* Menu Divider */
.menu-divider {
    height: 1px;
    margin: 8px 0;
    background: var(--theme-border-1-default);
}