*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#application-titlebar {
    -webkit-app-region: drag;
    height: 38px;
    width: 100%;

    left: 0;
    top: 0;
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #0a0a0a;
}

.app-title {
    /* font-size: 12.5px; */
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 1.8rem;
    letter-spacing: -0.4px;
    line-height: 0;
    color: #ffffff;

    font-family: 'system-ui', sans-serif;
}

body {
    font-family: 'SF Mono', 'Monaco', 'Inconsolata', 'Fira Code', 'Consolas', monospace;

    background-color: #0f0f0f;
    color: #fefefe;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    overflow-x: hidden;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 4rem 1.7rem;
}

.today-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.date-label {
    font-size: 12px;
    color: #e2e2e2;
    letter-spacing: 0.3px;
}

.input-message {
    display: flex;

    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 18px;

    width: 85%;
    max-width: 600px;
}

.writing-surface {
    background: #141414;
    border: 1.5px solid #303030;
    color: #ffffff;
    box-shadow: var(--shadow);
    border-radius: 24px;

    font-family: inherit;
    font-size: 12.5px;
    line-height: 1.4;
    padding: 1.15rem;

    min-height: 48px;
    width: 100%;

    resize: none;
    outline: none;
    transition: 200ms all ease;

    overflow-y: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.writing-surface::placeholder {
    color: #b0b0b0;
}

.writing-surface:focus {
    border-color: #444;
    background-color: #181818;
}

.writing-surface:disabled {
    cursor: not-allowed;
    background: #0f0f0f;
    color: #888;
    font-style: italic;

    &::placeholder {
        color: #888;
        font-style: italic;
    }
}

.commit-button {
    background-color: transparent;
    border: none;
    outline: none;

    padding: 0.5rem 0.5rem;
    border-radius: 100vmax;

    line-height: 0;
    font-family: inherit;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.2s;
    letter-spacing: 0.3px;

    position: fixed;
    right: 0.8rem;
    top: 0.6rem;

    & svg {
        fill: #b0b0b0;
    }
}

.commit-button:hover:not(:disabled) {
    background: #262626;
    border-color: #333;
}

.commit-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.committed-notice {
    color: #e2e2e2;
    font-size: 12px;
    letter-spacing: 0.3px;
}

.history-section {
    margin-top: 2rem;
}

.history-title {
    font-size: 12.5px;
    color: #e2e2e2;
    letter-spacing: 0.3px;
}

.history-entry {
    margin-bottom: 48px;
    padding-bottom: 32px;
    border-bottom: 1px solid #141414;
}

.history-entry:last-child {
    border-bottom: none;
}

.history-date {
    font-size: 12px;
    color: #e2e2e2;
    margin-bottom: 1rem;
    letter-spacing: 0.3px;
}

.history-text {
    font-size: 14px;
    line-height: 1.4;
    box-shadow: var(--shadow);

    color: #b0b0b0;
    background-color: #1f1f1f;
    border: solid 1px #303030;
    border-radius: 24px;
    
    padding: 1.15rem;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.history-empty {
    font-size: 14px;
    font-style: italic;
    display: none;
}

.history-timestamp {
    font-size: 12px;
    margin-top: 1rem;
    letter-spacing: 0.2px;
}