/**
 * @font-face General Sans
 * @description Variable font with weight range 100-900
 * @format WOFF2 with variations support
 * @weight 100-900
 */
@font-face {
    font-family: 'General Sans';
    src: url('../../assets/typefaces/GeneralSans-Variable.woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

/**
 * @font-face Anuphan
 * @description Thai display variable font with weight range 100-900
 * @format TrueType with variations support
 * @weight 100-900
 */
@font-face {
    font-family: 'Anuphan';
    src: url('../../assets/typefaces/Anuphan-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

/**
 * @font-face GeistMono
 * @description monospace variable font with weight range 100-900
 * @format TrueType with variations support
 * @weight 100-900
 */
@font-face {
    font-family: GeistMono;
    src: url('../../assets/typefaces/GeistMono-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}