@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Prociono&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Scrollbar */
    --theme-scrollbar-thumb-bg: #444;
    --theme-scrollbar-track-bg: #141414;

    /* Selection */
    --theme-selection-1-bg: #28353b;
    --theme-selection-2-text: #fff;

    --theme-buttons-1: #181818;
    --theme-buttons-2-text: #eeeeee;
    --theme-buttons-3-border: #384042;

    --theme-buttons-highlight-1: #ffffff;
    --theme-buttons-highlight-2-text: #000000;
    --theme-buttons-highlight-3-border: #eeeeee;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: 0px;
}

::-webkit-scrollbar-track {
    background: var(--theme-scrollbar-track-bg);
}

::-webkit-scrollbar-thumb {
    background: var(--theme-scrollbar-thumb-bg);
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--theme-border-3-default);
}

/* Selection */
::selection {
    background: var(--theme-selection-1-bg);
    color: var(--theme-selection-2-text);
}

body {
    font-family: 'Inter', 'Geist Mono', monospace;
    background: #000;
    color: #fff;
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 8rem 0rem;
}

h1 {
    font-size: 28px;
    margin-bottom: 1rem;
    font-weight: 550;
    letter-spacing: -0.45px;
}

h2 {
    font-size: 21.5px;
    margin: 3rem 0 1rem;
    font-family: 'Geist Mono', monospace;
    color: #888;
}

p {
    font-family: 'Geist Mono', monospace;
}

/* Content */

.cta {
    display: inline-block;
    padding: 1rem 0.8rem;
    font-size: 12.5px;
    font-weight: 550;

    background: var(--theme-buttons-1);
    color: var(--theme-buttons-2-text);
    text-decoration: none;
    margin: 1rem 1rem 1rem 0;
    line-height: 0;
    border: 1.5px solid var(--theme-buttons-3-border);
    font-family: 'Geist Mono', monospace;
    transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.cta:hover {
    background-color: transparent;
}

.highlight {
    border: 1.5px solid var(--theme-buttons-highlight-3-border);
    background-color: var(--theme-buttons-highlight-1);
    color: var(--theme-buttons-highlight-2-text);
}

.highlight:hover {
    background: #000;
    color: #fff;
}

.application-icons-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.application-icons-header img {
    outline: solid 2.5px #424c52;
    width: 90px;
    height: auto;
    border-radius: 24px;
}

header h1 {
    text-align: center;
    font-size: 28px;
}

.tagline {
    margin-bottom: 0.8rem;
    color: #aaa;
    text-align: center;
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 500;
}

.heading-buttons {
    text-align: center;
}

/* Section another header */
.another-header {
    margin: 3rem 0;
}

.application-section-image {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 15px;
}

.application-section-image img {
    width: 100%;
    max-width: 360px;
    height: auto;
}

#image-svg-another-heading {
    width: 100%;
    max-width: 495px;
    height: auto;
}